a, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* line 1 */
ul {
  list-style: none;
  text-indent: 1em;
  margin: 10px;
}
/* line 6 */
ul li {
  margin: 10px;
  padding-left: 5px;
}

/* line 11 */
dl {
  text-indent: 1em;
  margin-left: 0px;
  padding-left: 0px;
}
/* line 16 */
dl dd {
  margin-left: 5px;
  padding-left: 30px;
}

/* line 21 */
html {
  text-align: center;
}

/* line 25 */
body {
  -webkit-background-size: 100%;
  background-attachment: fixed;
  background-color: #101418;
  background-image: url(../images/bg-clean.jpg);
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.636em;
  color: white;
  text-align: center;
}

/* line 33 */
#title {
  background: #101418 url(../images/banner-silverbump.png) repeat-x;
}

/* line 37 */
#container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  z-index: 0;
  font-size: 1.125em;
  text-align: left;
  top: 0;
  left: 0;
}

/* line 49 */
#sidebar {
  -webkit-box-shadow: #FFFFFF 0 -1px 0px, #222222 0 0 10px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: #FFFFFF 0 1px 0;
  /* text-shadow: #FFFFFF 0 1px 0; */
  position: relative;
  width: 240px;
  float: right;
  padding: 20px;
  margin-right: 80px;
  background: green;
  z-index: 20;
  border: 10px solid white;
}
/* line 59 */
#sidebar a {
  color: white;
}
/* line 63 */
#sidebar a:hover {
  color: grey;
  background: white;
}
/* line 68 */
#sidebar dd {
  font-family: 'DejaVu Sans Mono', 'Courier New', monospace;
  margin-left: 2px;
  padding-left: 10px;
}

#sidebar #name {
  text-align: center;
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
#sidebar #description {
  font-size: 14px;
  margin-bottom: 10px;
}
#sidebar .nav {
  padding: 0;
  font-weight: bolder;
  /* letter-spacing: -1px; */
}
#sidebar li {
  margin-left: 2px;
  padding-left: 10px;
}

#mugshot {
  background: white;
  margin: 20px 48px 20px 48px;
  border: 5px solid white;
  text-align: center;
  padding: 10px;
}

/* line 79 */
.white_box {
  -webkit-box-shadow: #FFFFFF 0 -1px 0px, #222222 0 0 10px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: #FFFFFF 0 1px 0;
  /* text-shadow: #FFFFFF 0 1px 0; */
  position: relative;
  left: 100px;
  top: 100px;
  width: 760px;
  padding: 50px 200px 50px 60px;
  background: white;
  color: black;
  z-index: 15;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
}

.white_box p {
  line-height: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}
#bio p {
  line-height: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 { background: #240319; color: #ffffff; padding: 0.5em; }
h1 a, h1 a:visited, h1 a:active { color: #ffffff; outline: 0; -moz-outline: 0; }
h1 a:hover { color: #240319; background: white; }
h1, h2, h3, #footer {
  font-weight: bolder;
  letter-spacing: -1px;
}
#footer a, #footer a:visited, #footer a:active {
  color: #101418;
}
#footer a:hover {
  color: white;
  background: #101418;
}

h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 18px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 18px;
}

h3 {
  font-size: 20px;
  line-height: 22px;
}

/* line 93 */
#bio {
  margin-right: 50px;
  /* width: 550px; */
}
/* line 95 */
#bio p:first-child:first-letter {
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  font-size: 700%;
}
/* line 100 */
#bio #skills {
  font-weight: bold;
  list-style: none;
  margin: 60px 60px 60px 120px;
}
/* line 105 */
#bio #skills ul {
  font-weight: normal;
  font-size: smaller;
}

.post { margin-bottom: 4em; }
.post:last-child { margin-bottom: 0; }
.post .meta { text-align: right; color: #666; }

.post pre {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: #CCCCCC #CCCCCC #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    line-height: 21px;
    padding: 20px;
    overflow: auto;
}

.post h1 {
  -webkit-box-shadow: #FFFFFF 0 -1px 0px, #222222 0 0 10px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: #FFFFFF 0 1px 0;
  /* text-shadow: #FFFFFF 0 1px 0; */
}
/*
.post {
  border-bottom: 1px solid #222;
  margin-bottom: 20px;
}

.post p {
  font-size: 13pt;
  line-height: 26px;
}

.post .signoff {
  font-size: 12pt;
  font-style: italic;
  text-align: right;
}
*/

blockquote {
  border-left: 1px solid #222;
  line-height: 18px;
  font-size: 11pt;
  font-style: italic;
  margin: 20px;
  padding-left: 10px;
}

code {
  font-family: 'DejaVu Sans Mono', 'Courier New', monospace;
  font-size: 12pt;
}

#wrapper {
  max-width: 760px;
  min-width: 30em;
  width: 720px;
}
.pagination { 
  padding: 1em; 
  /* background: #FFC145;  */
  background: #101418;
  text-align: center; 
  color: white;
  -webkit-box-shadow: #FFFFFF 0 -1px 0px, #222222 0 0 10px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: #FFFFFF 0 1px 0;
  /* text-shadow: #FFFFFF 0 1px 0; */
}
.pagination a, .pagination a:visited, .pagination a:active { color: white; font-size: 1.1em; }
.pagination a:hover { background: white; color: #000; font-size: 1.1em; }

.search { 
  padding: 0 1em 1em 1em; 
  /* background: #C0D848;  */
  /* margin-bottom: 2em;  */
  height: 30px; 
  line-height: 30px; 
  vertical-align: middle; 
}


.gsc-control-cse {
  background: white;
}

/* line 54 */
#about-sidebar {
  -webkit-box-shadow: white 0 -1px 0px, #222222 0 0 10px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: white 0 1px 0;
  position: relative;
  width: 300px;
  float: right;
  padding: 20px;
  margin-right: 80px;
  background: green;
  z-index: 20;
  border: 10px solid white;
}
/* line 68 */
#about-sidebar a {
  text-decoration: none;
  color: white;
}
/* line 72 */
#about-sidebar a:hover {
  text-decoration: none;
  color: grey;
  background: white;
}
/* line 77 */
#about-sidebar dd {
  font-family: monospace;
}

