<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="My Blog" name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Mark Mims - Atom" href="/atom.xml" />
    <link href='http://pip.verisignlabs.com/server' rel='openid.server' />
    <link href='http://mmm.pip.verisignlabs.com/' rel='openid.delegate' />
    <title>Mark Mims, Ph.D. &mdash; {{ page.title }}</title>
    {% include analytics.html %}
  </head>
  <body>
    <header>
      <h1 id="title">
        Snippets, Thoughts, and Links
      </h1>
      <h2 id="subtitle">
        ...chaotic bits of
        <a href="http://markmims.com/" title="About">my</a>
        distributed hybrid associative memory
      </h2>
    </header>
    <div id="wrapper">
      {{ content }}
      <footer id="footer">
        <a href="/" title="Home">Home</a> &bull;
        <a href="/about.html" title="About me">About</a> &bull;
        <a href="/archive.html" title="Older Posts">Archive</a> &bull;
        <form action="http://www.google.com/cse" id="cse-search-box">
          <div>
            <input type="hidden" name="cx" value="000652178004161548235:gnplrkdmhbu" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="text" name="q" size="40" />
            <input type="submit" name="sa" value="Search" />
          </div>
        </form>
      </footer>
    </div>
  </body>
</html>
