<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content='Mark Mims (www.agiledynamics.com)' name='author' />
    <link href='/favicon.ico' rel='icon' type='image/ico' />
    <link href='/favicon.ico' rel='shortcut icon' type='image/ico' />
    <link href="/css/normalize.css" media="all" rel="stylesheet" type="text/css"/><link href="/css/screen.css" media="all" rel="stylesheet" type="text/css"/>
    <link href='http://pip.verisignlabs.com/server' rel='openid.server' />
    <link href='http://mmm.pip.verisignlabs.com/' rel='openid.delegate' />
    <title>Mark Mims, Ph.D. &mdash; {{ page.title }}</title>
    {% include analytics.html %}
  </head>
  <body onload="document.search.q.focus();">
    <div id='title'>
      <a href="/"><img src='/images/title-blog.png' /></a>
    </div>
    <div id='container'>
      <div id='sidebar'>
        <div id='mugshot'>
          <img alt="Mug" src="/images/mug.jpg"/>
        </div>
        <div id="name">
          <a href="http://markmims.com/" title="About Me">Mark Mims</a>
          (<a href="http://twitter.com/m_3" title="twitter.com/m_3">@m_3</a>)
        </div>
        <ul class="nav">
          <li>
            <a href="/" title="Blog">Blog</a>
          </li>
          <li>
            <a href="http://markmims.com/" title="About Me">About</a>
          </li>
          <li>
            <a href="/archive.html" title="Older Posts">Archive</a>
          </li>
        </ul>
      </div>
      <div class='white_box'>
        <div id="wrapper">

          <form action="http://www.google.com/cse" id="cse-search-box">
            <div class="search" id="cse">
              <input type="hidden" name="cx" value="002681610689672365669:0etao32ylly" />
              <input type="hidden" name="ie" value="UTF-8" />
              <input type="text" name="q" size="40" />
              <input type="submit" name="sa" value="Search" />
            </div>
          </form>

          {{ content }}

          <footer id="footer">
            <a href="/" title="Blog">Blog</a> &bull;
            <a href="http://markmims.com/" title="About Me">About</a> &bull;
            <a href="/archive.html" title="Older Posts">Archive</a>
          </footer>
          
        </div>
      </div>
    </div>
    <script type='text/javascript'>
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type='text/javascript'>
      var pageTracker = _gat._getTracker("UA-4132881-1");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>
