---
layout: default
---

<div>
  <article>
    <div id='bio'>

      <div id='mugshot'>
        <a href='/images/phonebooth.jpg'><img alt="Mug" src="/images/phonebooth.jpg"/></a>
      </div>

      <h3>Hi, I'm Mark...</h3>

      <p>I'm a Data Plumber. I spend most days designing/tuning/fixing/banging-on data pipelines and the infrastructure behind data-intensive applications of all sorts.</p>

      <p>Originally trained as a Physicist (Ph.D. researching how quantum computers can learn to tolerate noise and errors), I've since had an incredible career out in the world where Data Science meets DevOps and infrastructure engineering.</p>

      <p>I've been lucky enough to work for companies like Canonical, the folks behind the Ubuntu operating system, Infochimps, DigitalOcean, and now Google. Places where talented teams of people are innovating and leading open-source communities and the tech industry as a whole.</p>

      <p>My passions at the moment include:</p>

      <ul>
        <li>Training data scientists. I teach an online class that's essentially "Just enough data engineering" for data scientists in Berkeley's MIDS program</li>
        <li>Adopting test-driven methodologies into building data pipelines... keeping pipelines strongly connected to the actual problems that need to be solved</li>
        <li>and then pretty much anything to do with AI in infrastructure automation</li>
      </ul>


      <br/>

      <div class='contacts'>
        <h3>More Info</h3>
          Social:
          <ul>
            <li>
              <a href="http://twitter.com/m_3/"><img src="/images/twitter.svg" width="50px" /></a>
            </li>
            <li>
              <a href="http://www.linkedin.com/in/markmmims"><img src="/images/linkedin.svg" width="50px" /></a>
            </li>
            <li>
              <a href="https://www.facebook.com/mark.mims"><img src="/images/facebook.svg" width="50px" /></a>
            </li>
            <li>
              <a href="http://about.me/m_3/"><img src="/images/about-dot-me.svg" width="50px" /></a>
            </li>
            <li>
              <a href="mailto:mark.mims@gmail.com"><img src="/images/gmail.svg" width="50px" /></a>
            </li>
          </ul>

          <br/>
          Keys:
          <ul>
            <li>
              <a href="https://keybase.io/m_3"><img src="/images/keybase.svg" width="50px" /></a>
            </li>
            <li>
              <a href="/MarkMims-gpg-key.asc" title="fingerprint = C14D 0796 664C 62F9 C104  C149 F213 1D81 237F D12C">GPG public key</a>
              (
              <a href="http://en.wikipedia.org/wiki/GNU_Privacy_Guard" title="Gnu Privacy Guard">What's this?</a>
              )
            </li>
            <li>
              <a href="https://github.com/mmm.keys" title="SSH public keys on GitHub">SSH public keys on GitHub</a>
              (
              <a href="http://en.wikipedia.org/wiki/Secure_Shell" title="Secure Shell">What's this?</a>
              )
            </li>
          </ul>

          <br/>
          Code:
          <ul>
            <li>
              <a href="http://github.com/mmm"><img src="/images/github.svg" width="50px" /></a>
            </li>
            <li>
              <a href="http://launchpad.net/~mark-mims/"><img src="/images/launchpad.svg" width="50px" /></a>
            </li>
          </ul>

          <br/>
          Resume:
          <ul>
            <li><a href="/MarkMims-resume.html" title="Resume for Mark Mims">html</a></li>
            <li><a href="/MarkMims-resume.txt" title="Resume for Mark Mims">text</a></li>
            <li><a href="/MarkMims-resume.pdf" title="Resume for Mark Mims">pdf</a></li>
          </ul>
      </div>

    </div>

    <br/>
  </article>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
