// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
     background: url(/images/aguille.jpg) no-repeat center center fixed;
     background-size: cover;
}
body>header {
     background: rgba(51,51,51,0.5);
}
body>div#main {
     background: rgba(242,242,242,0.8);
}
#content ul{
 margin-left: 1.3em !important;
}
#content li{
 margin-left: 1.3em !important;
}
#mugshot img {
  display: block;
  margin: 0 auto;
  height: 400px;
}
#bio div.contacts ul li {
  display:inline;
}
